body {
  background-color: #F2FFFC;
  font-family: "Crimson Text", serif;
  font-size: 20px;
}
main {
  float: left;
  width: 85%;
}
main h1 {
  background-color: rgb(133, 25, 68);
  border-botton: 10px solid black;
  color: rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  margin: 0;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}
.container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0;
  padding-bottom: 80px;
}
h2 {
  clear: both;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  margin-bottom: 40px;
}
p {
  margin: 20px 0;
  line-height: 30px;
  text-align: justify;
}
blockquote {
  background-color: #D3DDDA;
  border: 10px solid #C2CCCA;
  box-sizing: border-box;
  float: right;
  margin: 0;
  padding: 16px;
  width: 250px;
}
cite {
  float: right;
  font-style: italic;
}
.fiat {
  float: right;
  margin-left: 40px;
}
.petrobras {
  float: left;
  margin-bottom: 40px;
  margin-right: 40px;
}
strong {
  font-weight: 600;
}
em {
  font-style: italic;
}
aside {
  background-color: #3C1D3D;
  color: #F2FFFC;
  font-family: "Opens Sans Condensed", sans-serif;
  text-align: center;
  padding: 20px;
  width: 15%;
}
aside, img {
  float: right;
}
aside,
.minha-foto {
  border-bottom: 10px solid black;
  border-left: 10px solid black;
  box-sizing: border-box;
  float: right;
}
.minha-foto {
  position: absolute;
  right: 0;
  top: 0;
}
aside {
  position: relative;
  clear: right;
  top: 310px;
}
aside li {
  margin-bottom: 10px;
}
nav h1 {
  font-size: 30px;
  margin-bottom: 25px;
}
nav a {
  color: inherit;
  text-transform: lowercase;
}
.icones-sociais li  {
  display: inline-block;
}
.icones-sociais a {
  display: inline-block;
  height: 40px;
  text-indent: -9999px;
  width: 40px;
}
.github {
  background-image: url('../imagens/github.png');
}
.twitter {
  background-image: url('../imagens/twitter.png');
}
.linkedin {
  background-image: url('../imagens/linkedin.png');
}
aside, img {
  box-sizing: border-box;
  float: right;
}
footer {
  background-color: #000;
  bottom: 0;
  color: #F2FFFC;
  clear: both;
  padding: 20px;
  position: fixed;
  width: 100%;
}
